{% extends 'base_crud.html'%} 

{% block contenido %}

        <div class="peli1 container-fluid bg-gradient" id="usuariosContainer">
           
             
        </div>

        <div class="peli2">
            
        </div>
        <script>
        const URL = "http://127.0.0.1:5000/";
        const rutaImagenBase = "{{ url_for('static', filename='uploads/') }}";
        
        // Realizamos la solicitud GET al servidor para obtener todos los productos
        fetch(URL + 'usuarios')
            .then(function (response) {
                if (response.ok) {return response.json(); }
            })
            .then(function (data) {
                console.log(data)
                let usuariosContainer = document.getElementById('usuariosContainer');

                
                // Iteramos sobre los productos y agregamos filas a la tabla
                for (let usuario of data) {
                    let usuarioDiv = document.createElement('div');
                    usuarioDiv.classList.add('tarjeta');

                    // Contenido del usuario
                    usuarioDiv.innerHTML = '<img src="' + rutaImagenBase + usuario[3] + '">' +
                        '<p> ' + usuario[1] + " user: "+ usuario[0]+ '</p>';

                    // Agregamos el div del usuario al contenedor
                    usuariosContainer.appendChild(usuarioDiv);
                }
            })
            .catch(function (error) {
                // Código para manejar errores
                alert('Error al obtener los Usuarios.');
            });
    </script>
  {% endblock %} 