<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos1.css') }}">
</head>

<body>
    <h1>Listado de Usuarios</h1>
    <h3>Codo a Codo 2023</h3>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Correo</th>                
                <th>Imagen</th>
                <th>Contraseña</th>
            </tr>
        </thead>
        <tbody id="tablaUsuarios"> </tbody>
    </table>

    <div class="contenedor-centrado">
        <a href="{{ url_for('index')}}">Menu principal</a>
    </div>

    <script>
        const URL = "http://127.0.0.1:5000/"
        const rutaImagenBase = "{{ url_for('static', filename='uploads/') }}";
        // Realizamos la solicitud GET al servidor para obtener todos los productos
        fetch(URL + 'usuarios')
            .then(function (response) {
                if (response.ok) {return response.json(); }
            })
            .then(function (data) {
                console.log(data)
                let tablaUsuarios = document.getElementById('tablaUsuarios');

                // Iteramos sobre los productos y agregamos filas a la tabla
                for (let usuario of data) {
                    let fila = document.createElement('tr');
                    fila.innerHTML = '<td>' + usuario[0] + '</td>' +
                        '<td>' + usuario[1]+ '</td>' +
                        '<td>' + usuario[2] + '</td>' +
                        // Mostrar miniatura de la imagen
                        '<td><img src="' + rutaImagenBase + usuario[3] + '" alt="Imagen del usuario" style="width: 100px;"></td>' +                   
                        '<td>' + usuario[4] + '</td>';
                    tablaUsuarios.appendChild(fila);
                }
            })
            .catch(function (error) {
                // Código para manejar errores
                alert('Error al obtener los Usuarios.');
            });
    </script>
</body>
</html>