/* Estilos para todo el proyecto */
body {
        background: linear-gradient(to right, #080808f0, #080808f2), url(../img/fondo_crud.webp);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        font-size: 1.2em;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

p {
    font-family: Lora, serif;
    background-color: #f00c0c;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #f8f9f9;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #4d4c4c58;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

table {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #4d4c4c58;
    border: 1px solid rgb(248, 250, 251);
    width: 100%;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:  #007bff;
}

button {
    padding: 8px;
    margin:4px;
    background-color: #303132;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f7f8f9;
    color:#303132
}

a {
    padding: 8px;
    margin:4px;
    background-color: #4e4c4c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
}

a:hover {
    background-color: #3c3b3a;
}